* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color-bg: #0f0026;
  --color-text: #82e4ff;
  --color-border: #3a0090;
  --color-hover: #6f00ff;
  --color-shadow: #801fff;
  --color-cross: #ff4a3a;
  --color-circle: #3aa6ff;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;

  .gameInfo {
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: -50px;
    font-size: 1.3rem;

    .msg {
      animation: winMsg 0.5s ease;
    }

    .gameScore {
      font-size: 1.1rem;
      display: flex;
      justify-content: space-between;
      width: 500px;
    }
  }
  .gameContainer {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .gameCell {
      width: 160px;
      height: 160px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid var(--color-border);
      border-radius: 10px;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(1.05);
        border-color: var(--color-hover);
      }

      .circle {
        width: 100%;
        height: 100%;
        border: 20px solid var(--color-circle);
        border-radius: 100%;
        animation: showIn 0.3s ease-in-out forwards;
      }

      .cross {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: showIn 0.3s ease-in-out forwards;

        &::before,
        &::after {
          content: "";
          background: var(--color-cross);
          position: absolute;
          width: 110%;
          height: 20px;
          border-radius: 40px;
        }

        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .gameBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    bottom: -65px;
    font-size: 1.5rem;
    animation: showIn 0.5s ease-in-out forwards;
  }
}

// home page
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;

  & .btn {
    width: 200px;
    font-size: 1.4rem;
  }
}

// edit page
.editPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.4rem;

  .editColor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  input[type="color"] {
    background: none;
    outline: none;
    width: 50px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      scale: 1.05;
    }
  }
  .editName{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 50px;

    input{
      background: transparent;
      border: none;
      padding: 5px 10px;
      border-bottom: 3px solid var(--color-border);
      color: var(--color-text);
      font-size: 1.2rem;
      transition: all .2s ease;
      margin: 5px 0;

      &:focus {
        outline: none;
        border-bottom: 5px solid var(--color-hover);
        font-size: 1.4rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

// button
.btn {
  border: 2px solid var(--color-border);
  background: transparent;
  color: var(--color-text);
  font-size: 1rem;
  text-decoration: none;
  padding: 12px 40px;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    border-color: var(--color-hover);
    box-shadow: 0 0 10px 3px var(--color-shadow);
    scale: 1.05;
  }
}

// animation
@keyframes showIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes winMsg {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

// mobile
@media (max-width: 640px) {
  .gamePage {
    align-self: center;
    gap: 30px;

    .gameInfo {
      top: -60px;
      width: 310px;
      .gameScore {
        width: 100%;
      }
    }
    .gameContainer {
      width: 310px;
      gap: 5px;

      .gameCell {
        width: 100px;
        height: 100px;
        padding: 10px;

        .circle {
          width: 80%;
          height: 80%;
          border-width: 12px;
        }

        .cross {
          &::before,
          &::after {
            height: 12px;
            width: 90%;
          }
        }
      }
    }
    .gameBtns {
      bottom: -70px;
    }
  }
}
